.dropdown {
     position: relative;
     display: flex;
}

.trigger {
     text-decoration: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.8rem;
     background-color: var(--color-level-0);
     border: 1px solid var(--color-border);
     padding: 0.7rem 1.3rem;
     border-radius: 10px;
     transition: background-color 150ms;
     box-sizing: border-box;
     cursor: pointer;
     color: var(--color-text);
     font-size: 1rem;
     font-family: inherit;
     white-space: nowrap;
     width: 100%;
}

.trigger:hover {
     background-color: var(--color-level-2);
}

.icon_download {
     flex-grow: 0;
     flex-shrink: 0;
}

.chevron {
     transition: transform 200ms ease;
     margin-left: -0.3rem;
}

.chevronOpen {
     transform: rotate(180deg);
}

.menu {
     position: absolute;
     top: calc(100% + 0.5rem);
     left: 0;
     right: 0;
     background-color: var(--color-level-0);
     border: 1px solid var(--color-border);
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     z-index: 100;
     transition: opacity 200ms, transform 200ms;

     padding: .2rem;
     box-sizing: border-box;

     display: flex;
     flex-direction: column;
     gap: .3rem;

     opacity: 1;
     transform: translateY(0);
}

.menu_exit_active {
     opacity: 0;
     transform: translateY(-8px);
}


.option {
     display: flex;
     align-items: center;
     gap: 0.8rem;
     padding: 0.8rem 1.3rem;
     text-decoration: none;
     color: var(--color-text);
     transition: background-color 150ms;
     cursor: pointer;
     white-space: nowrap;

     border-radius: calc(10px - .2rem);
}

.option:hover {
     background-color: var(--color-level-2);
}

.option:not(:last-child) {
     border-bottom: 1px solid var(--color-border);
}