.cont {
    display: flex;
    justify-content: left;
}

.link {
    opacity: .5;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

    font-weight: 300;
    text-decoration: none;

    color: var(--color-text) !important;
    transition: gap .25s, margin-left .25s !important;
}

.link:hover {
    gap: .1rem;
    margin-left: .4rem;
}