.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.container h2 {
    margin: 0;
    margin-top: 1rem;

    font-weight: 500;
}

.links {
    background-color: var(--color-level-1);
    border: 1px solid var(--color-border);
    padding: .6rem;
    border-radius: 8px;

    color: var(--color-text);
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;

    transition: border-color 150ms;
}

.links:hover {
    border-color: var(--color-border-focus);
}

.container p {
    margin: 0;
    margin-top: 1rem;
}

.container p svg {
    position: relative;
    vertical-align: middle;
    height: 1.4em;
}