/* Устранение задержки клика на мобильных устройствах */
* {
    -webkit-tap-highlight-color: transparent;
}

a, button, input, select, textarea, [role="button"], [onclick] {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-y: scroll;
    margin: 0;
    background-color: black;
    /* Для теста, можешь потом удалить*/

    --color-level-1: #0a0a0a;
    --color-border: #ffffff0d;
    --color-text: #eeeeee;

    color: var(--color-text);
}
