.wrapper {
    margin: 1.5rem 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-border);
}

.wrapper pre {
    margin: 0 !important;
}

.wrapper pre::-webkit-scrollbar {
    height: 8px;
}

.wrapper pre::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

.wrapper pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.wrapper pre::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}
