.outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    padding: calc(.4rem + 1px);
    gap: .5rem;
    box-sizing: border-box;

    background-color: var(--color-level-1);
}

.page {
    padding: .5rem;
    margin: 0;
    width: 1.5rem;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 5px;
    border: 1px var(--color-border) solid;
    background-color: var(--color-level-1);

    font-size: 1.2rem;
    user-select: none;
}

.page:hover {
    background-color: color-mix(in hsl, var(--color-level-1), white 3%);
}

.page_loading {
    aspect-ratio: 1;
    cursor: default;
    background-color: color-mix(in hsl, var(--color-level-1), white 3%);
    animation: loading 3s infinite ease-in-out;
}

.active {
    background-color: var(--color-text);
    color: var(--color-level-1);
}

.active:hover {
    background-color: var(--color-text) !important;
}

@keyframes loading {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .3;
    }
}

.arrow_left {
    margin-right: .5rem;
}

.arrow_right {
    margin-left: .5rem;
}

@media(max-width: 440px) {
    .container {
        max-width: 100%;
        gap: .4rem;
    }

    .page {
        font-size: 1rem;
        aspect-ratio: 1;
        width: 1rem;
        height: 1rem;
    }

    .arrow_left {
        margin-right: .3rem;
    }

    .arrow_right {
        margin-left: .3rem;
    }
}