.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: .5rem;
    column-gap: 1rem;
    width: 100%;
}

.select {
    width: 100%;
    flex: 1 1 300px;
}