.container_container {
    background-color: var(--color-level-1);
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container_container h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.image_container {
    position: relative;
    cursor: pointer;
    display: flex;
}

.edit {
    position: absolute;
    right: 1px;
    top: 1px;
    opacity: 0;

    background-color: var(--color-border-focus);
    padding: 3px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 250ms;
}

.image_container:hover>.edit {
    opacity: 1;
}

.image {
    width: 52px;
    height: 52px;

    object-fit: contain;
    image-rendering: pixelated;
}

.image_placeholder {
    width: 52px;
    height: 52px;
    background-color: var(--color-level-2);
    border-radius: 5px;

    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.inputs_container {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.inputs_container input {
    border: 1px solid var(--color-border);
    background-color: var(--color-level-1);
    color: var(--color-text);
    padding: .5rem;
    border-radius: 5px;
    font-family: inherit;
    outline: none;

    transition: border-color 150ms;

    width: 100%;
    box-sizing: border-box;
}

.inputs_container input:focus {
    border-color: var(--color-border-focus);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

.buttons_container button {
    border: 1px solid var(--color-border);
    background-color: var(--color-level-2);
    color: var(--color-text);
    border-radius: 5px;
    cursor: pointer;
    aspect-ratio: 1;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 150ms;
}

.buttons_container button:hover {
    background-color: var(--color-border-focus);
}

.buttons_container button:disabled {
    background-color: var(--color-level-1);
    cursor: not-allowed;
}