.container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: .75rem;
    width: 100%;
    display: grid;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main h2 {
    margin-bottom: 1rem;
}