.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.suggestion {
    background-color: var(--color-level-1);
    border: 1px solid var(--color-border);

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    padding: 1rem;
    box-sizing: border-box;
}

.suggestion hr {
    border: 1px solid var(--color-border);
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    margin: 0;
}

.content {
    margin: 0;
    font-style: italic;
}

.pinned_sth {
    font-style: italic;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
}

.images img {
    flex-shrink: 0;
    flex-grow: 0;

    min-width: 10%;
    max-width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
}