.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    margin-bottom: 1rem;
}

.minecraftItem {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.container_container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: row;
    gap: 1rem;
}

.right_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    width: 100%;
}

.create_button {
    border: 1px solid var(--color-border);
    background-color: var(--color-level-1);
    color: var(--color-text);
    padding: .5rem;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 250ms;

    margin-top: 1rem;
}

.create_button:hover {
    background-color: var(--color-border);
}

.name_input {
    border: 1px solid var(--color-border);
    background-color: var(--color-level-1);
    color: var(--color-text);
    padding: .5rem;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;

    transition: border-color 250ms;

    outline: none;
}

.create_button:focus {
    border-color: var(--color-border-focus);
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }

    .container_container {
        flex-direction: column;
        align-items: center;
    }
}